main .hero-container > div {
 /* max-width: unset;*/
}
  
main .hero-container {
  padding: 0;
}


.hero-wrapper {
  width: 100%;
   max-width: unset !important;
}
.hero.block.hero1-1 {
  position: relative;
}
.hero.block.hero1-1 .image-wrapper {
  width: 100%;
}
.hero.block.hero1-1 .image-wrapper picture {
  height: 400px;
  display: block;
}

.hero.block.hero1-1 {
  position: relative;
  background-size: cover;
  background-position: center;
 
}
.hero.block.hero1-1 {
  background-repeat: no-repeat;
  display: flex;
  height: 400px;
  flex-direction: column;
 
}
/*.image-wrapper {
  display: none;
}*/
.text-wrapper {
  margin-top: 3%;
  width: 60%;
  color: #ffff;
  margin-left: 9%;
}

.hero.block.hero1-1 .text-wrapper p a {
  background-color: #cf430c;
  color: #ffffff !important;
  border: 1px solid #cf430c;
  font-weight: 700 !important;
  font-size: 14px !important;
  border-radius: 14px;
  padding: 10px 20px !important;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 50px;
  margin-top: 15px;
  display: inline-block;
}
